<a href="https://colab.research.google.com/github/lesyayu/robot_deams-_sheets/blob/main/hw_1_DA_abgegeben.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1: Numpy, Linear Algenbra, Descriptive Statistics

В зарплатному опитуванні прийняли участь 15 інженерів:

In [ ]:
salaries = [1500, 2500, 2000, 2300, 1700, 3000, 2500, 5000, 4500, 3000, 1700, 3200, 6100, 3200, 2700]

Викоритовуючи бібліотеку Numpy напишіть код, щоб дізнатись скільки отримують перші 5 опитаних інженерів

In [ ]:

# you code here with np and array
import numpy as np
salaries_array = np.array(salaries)
first_5 = salaries_array[:5]
print(first_5)

# you code here with pandas
import pandas as pd
df = pd.DataFrame(salaries, columns=['Salary'])
first_5_pd = df.head(5)
first_5_pd

[1500 2500 2000 2300 1700]

   Salary
0    1500
1    2500
2    2000
3    2300
4    1700

In [ ]:
# small check of you silution. You will receive an error, if result is wrong
assert (first_5[1] == 2500) and (len(first_5) == 5),  f"You calculation is wrong"

А скільки отримує останній опитаний інженер?

In [ ]:
last_one= salaries[-1]
print(last_one)


#your code with pandas
last_one_pd = df.tail(1)
last_one_pd

2700

    Salary
14    2700

In [ ]:
assert (last_one == 2700),  f"You calculation is wrong"

Останні три опитаних інженери працюють в компанії BestCompany. Скільки сумарно отримують інженери цієї компанії?

In [ ]:
#your code
#sum_last_3 =np.sum(salaries[-3:])

sum_last_3 =salaries_array[-3:].sum()
print(f"sum_last_3 = ", sum_last_3 )

#mit pandas
sum_last_3_pd =df[-3:].sum()
sum_last_3_pd

sum_last_3 =  12000

Salary    12000
dtype: int64

In [ ]:
assert sum_last_3 == 12000,  f"You calculation is wrong"

А яка середня зарплата в BestCompany?

In [ ]:
best_comp = salaries_array[-3:]
best_company_mean = best_comp.mean()
best_company_mean  #your code

4000.0

In [ ]:
assert best_company_mean == 4000,  f"You calculation is wrong"

В середньому інженери BestCompany мають вищу зарплатню, ніж інженери на ринку? Значення має бути True, якщо так, і False в протилежному випадку

In [ ]:
#your code
is_more_than_market_avg = salaries_array.mean() < best_comp.mean()

In [ ]:
assert is_more_than_market_avg,  f"You calculation is wrong"

А яка найпопулярніша зарплата серед інженерів?

In [ ]:
#your code
import statistics
most_popular_salary = statistics.mode(salaries)
most_popular_salary

2500

50% відсотків інженерів отримують менше або *X* доларів. Порахуйте *X* двома різними способами.

In [ ]:
x = np.percentile(salaries_array, 50)# your code is here

y =np.median(salaries_array)
print("50% percentile x=", x,  "median y=", y)

50% percentile x= 2700.0 median y= 2700.0

<font color='blue'>**[Optional]**</font> Щоб відпрацювати знання лінійнох алгебри напишіть функцію на чистому Python, яка би повертала матричний добуток двох матриць. Також, зверніть увагу наскільки легше це зробити за допомогою Numpy

In [ ]:
def matr_product(x, y):
    if len(x[0]) != len(y):
        raise ValueError("multiplication impossible")

    # Initialization of result-matrix
    result = [[0 for _ in range(len(y[0]))] for _ in range(len(x))]

    # multiplikation
    for i in range(len(x)):
        for j in range(len(y[0])):
            for k in range(len(y)):
                result[i][j] += x[i][k] * y[k][j]

    return result

In [ ]:
#use this code to test your solution
a = np.array([
    [1, 2],
    [3, 4]
])
b = np.array([
    [11, 12],
    [13, 14]
])
product = matr_product(a, b)
print(product)#your code
assert matr_product(a, b)[0][0] == 37,  f"You calculation is wrong"

[[37, 40], [85, 92]]